@model IEnumerable<OrdenDeCompra>

@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Bienvenido al CRUD </h1>
    </div>

    <partial name="_tableOrdenCompra" model=Model />


