html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.table-hover tbody tr:hover {
    background-color: #f5f5f5;
}

.card-header h5 {
    font-weight: 600;
}

input.form-control, select.form-control {
    min-height: 45px;
}

.alert-style {
    z-index: 2000;
    width: 100%;
    max-width: 600px;
}